@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sort {
  margin: 0px 0px 0px 10px;
  width: 80px;
}

.checkButton {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-top: 5px;
  //justify-content: space-between;
}

.noteFrame {
  word-break: break-word;
}

.noteName {
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 5px;
}